

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
  }



body{

    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

}

/* CSS för ikoner */
.fa-heart{ color: var(--bs-danger); }

.fa-th{ 
    color: var(--bs-white);
    background-color: var(--bs-secondary); 

}

.fa-th-list, .fa-bars{ 
    color: var(--bs-secondary); 
}

.fa-th-list:hover, .fa-bars:hover{ 
    color: var(--bs-gray-dark); 
}

.fa-th-list:hover, .fa-bars:hover, .fa-th:hover{ 
    cursor: pointer;
}